* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(33, 126, 212);
    
    font-size: 62,5%;
    font-family: sans-serif;
}

.container {
    position: relative;

    width: 25rem;
    padding: 2rem;
    
    margin: 5rem auto;

    border: 0.3rem solid black;
    border-radius: 0.5rem;

    background: white;


    display: flex;
    justify-content: center;
    align-items: center;
}