@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
    --primary-color: rgb(6, 78, 100);
    --primary-color-darker: rgb(2, 39, 59);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    text-align: center;
}

p {
    text-align: center;

}


.container {
    max-width: 640px;
    padding: 20px;
    background: #fff;
    margin: 20px auto;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    height: 50px;
    cursor: pointer;
    margin-top: 25px;
}

form button:hover {
    background: var(--primary-color-darker);
}

form button:active {
    background-color: aquamarine;
}


table {
    margin: 0 auto;
}

table td {
    padding-right: 25px;
}



.paragraph-result, .bad {
    background: rgb(19, 158, 100);
    padding: 10px 20px;
}

.bad {
    background: crimson;
}
